page-tabs{
}

#LerCodigo{
    text-align: center;
    margin-top: 10px;
}

#Imagem{
    max-width: 80%;
    margin-left: 37px;
    margin-top: 10px;
}

#Verificacao{
    text-align: center;
    margin-top: 65px;
    font-size: 60px;
}

#Nome{
    text-align: center;
    font-size: 20px;
}
