<ion-header>

  <ion-navbar>
    <ion-title>Historico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- PRECISA TESTAR -->
  <!-- <div class ="Lista" id="Lista" *ngFor="dado of queries">
      <ion-list>
        <ion-item>
          <h2>{{queries.name}}</h2>
          <h3>{{queries.RA}}</h3>
        </ion-item>
      </ion-list>
    </div>
     -->
  <div *ngIf="hasQueryList">
    <ion-list>
      <div class="Lista" id="Lista" ion-item *ngFor="let dado of query.items">
        <ion-item>
          <h2>{{dado.getName()}}</h2>
          <h3>{{dado.getRA()}}</h3>
          <!-- <p>{{query.getItem(0).getCourse()}}</p> -->
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>