<ion-header>

  <ion-navbar>
    <ion-title>Histórico</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="hasQueryList">
    <ion-list>
      <div class="Lista" id="Lista" ion-item *ngFor="let dado of query.items">
        <ion-item>
          <h2>{{dado.getName()}}</h2>
          <h3>{{dado.getRA()}}</h3>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <button ion-button icon-end>     
    <ion-icon (click)= "search()" name="cloud-circle"></ion-icon>
  </button>
</ion-content>