page-intro {

}

ver{ //ARRUMAR POSIÇÃO TEXTO
    text-align: center;
    display: inline-block;
    font-size: 10em;
    margin-top: 10px;
    
}

Img{
    max-width: 50%;
    margin-left: 5px;
    margin-top: 10px;
}
