page-camera {

}

#LerCodigo{
    text-align: center;
    margin-top: 10px;
}

#Imagem{
    max-width: 80%;
    margin-left: 37px;
    margin-top: 10px;
}

#Nome{
    text-align: center;
    font-size: 20px;
}

#RA{
    text-align: center;
    font-size: 20px;
}

#EstadoASS{
    text-align: center;
    margin-top: 65px;
    font-size: 45px;
    
}

#EstadoNASS{
    text-align: center;
    color: rgb(255, 0, 0); //trocar
    margin-top: 65px;
    font-size: 45px;
}
